<nav class="navbar navbar-expand-lg navbar-light mx-auto">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="images/logo-v.jpeg" alt="Voilá Festas Logo" class="logo">
      </a>

      <!-- Toggler for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav gap-3">
          <li class="nav-item">
            <a class="nav-link" href="#quienes-somos">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galeria">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/store">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/vintagepartyperu"  target="_blank">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>