<section class="quem-somos-section py-5">
    <div class="container text-center">
        <h2 class="section-title mb-5">Quienes Somos</h2>
        <p class="mb-3">Somos una empresa peruana, que inicio sus actividades en el 2015 trabajando en el Rubro de Eventos.</p>
        <p class="mb-3">Iniciamos siendo una de las primeras empresas constituidas en alquiler de muebles de madera en el rubro Infantil y ahora tambien ofrecemos alternativas de renta en Eventos Sociales y Corporativos.</p>
        <p class="mb-3">Comenzamos en nuestra Sala y hoy trabajamos para los mejores decoradores de fiestas de Lima y para Empresas reconocidas en nuestro país.</p>
        <p class="mb-3">Fabricamos nuestro propios mobiliarios, es por ello que aqui encontrarás gran variedad de diseños, modelos únicos pudiéndolos crear, transformar y adaptar a cualquier temática. </p>
        <p class="mb-3 fw-bold">Vintage Party Mobiliario para tu Evento!</p>
    </div>
</section>