<section class="contato-section py-5 text-center text-md-start">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna izquierda: Datos de contacto -->
            <div class="col-md-7">
                <h2>¿Te Interesa?</h2>
                <h2 class="mb-4">Entra en contacto con nuestro equipo.</h2>
                <div class="contact-info">
                    <div class="row mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto"><i class="bi bi-whatsapp"></i></div>
                        <div class="col text-start">
                            <a href="https://wa.me/51936942342" target="_blank" class="footer-link">Ventas 1 - 936942342</a>
                        </div>
                    </div>
                    <div class="row mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto"><i class="bi bi-whatsapp"></i></div>
                        <div class="col text-start">
                            <a href="https://wa.me/51944566160" target="_blank" class="footer-link">Ventas 2 - 944566160</a>
                        </div>
                    </div>
                    <div class="row mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto"><i class="bi bi-envelope"></i></div>
                        <div class="col text-start">
                            <a href="mailto:holavintage@vintageparty.com?subject=[Eventos] Contacto Online&body=Hola Vintage Party,%20Me gustaría ..." target="_blank" class="footer-link">holavintage&#64;vintageparty.com</a>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto">
                            <i class="bi bi-clock"></i>
                        </div>
                        <div class="col text-start"><strong>Horario de Atención:</strong><br>De Lunes a
                            Viernes 9am a 6pm;<br>Sábado de 9am a 1pm
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="col text-start">
                            San Juan de Miraflores
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-block d-md-none mb-5"></div>
            <!-- Columna derecha: Texto y redes sociales -->
            <div class="col-md-5 text-center">
                <div class="social-box text-center text-md-end">

                    <p>Accede a nuestras redes sociales!</p>
                    <a href="https://instagram.com/vintagepartyperu" target="_blank" class="social-link">
                        <i class="bi bi-instagram me-2"></i>vintagepartyperu
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>