<div class="row search-container text-white py-2 align-items-center">
    <div class="row mx-auto">
        <!-- Left Section -->
        <div class="col-md-4 justify-content-start align-middle d-none d-md-block" style="font-size: 13px;">
            <span>Conoce la colección de alquiler <strong>Vintage Party</strong></span>
        </div>

        <!-- Search Input -->
        <div class="col-md-4 justify-content-center col-sm-12">
            <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Que estas buscando...">
                <button class="btn btn-light" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <!-- Right Section -->
        <div class="col-md-4 d-flex justify-content-center gap-3 d-none d-sm-none d-md-block">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 justify-content-center">
                    <div class="row align-items-center">
                        <div class="col-auto" style="font-size: 30px;"><i class="bi bi-headset"></i></div>
                        <div class="col" style="font-size: 14px;">
                            <strong>Contactanos:</strong><br/>
                            <a href="https://wa.me/51936942342" target="_blank" class="text-white">
                                (+51) 936942342
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 justify-content-center">
                    <span><i class="bi bi-cart"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>