.banner-section {
    position: relative;
}

.carousel-inner {
    aspect-ratio: 16 / 9;
    max-height: 500px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.whatsapp-btn {
    width: 55px;
    padding: 8px 0;
    bottom: 30px;
    right: 40px;
    background-color: #25d366;
    color: #fff;    
    text-align: center;
    border-radius: 50%;
    font-size: 1.7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.whatsapp-btn:hover {
    background-color: #20bd5a;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.section-subtitle {
    font-size: 1.1rem;
    color: #666;
}

.category-sidebar {
    background-color: #e6f0fa;
    color: #333;
    height: fit-content;
    border-radius: 10px;
}

.category-sidebar h6 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.category-sidebar ul li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.category-sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.category-sidebar ul li a:hover {
    color: var(--bg-primary);
}

.category-card img {
    background-color: #e6f0fa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category-name {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* Responsividad */
@media (max-width: 767px) {
    .carousel-inner {
        aspect-ratio: 4 / 3;        
        max-height: 200px;
    }
    .banner-image {     
        height: 200px;        
    }

    .whatsapp-btn {
        padding: 10px;
        font-size: 1.2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }

    .category-sidebar {
        margin-bottom: 1.5rem;
    }
}